<div>
  <app-page-header [heading]="'User'" [icon]="'fa-edit'"></app-page-header>
  <app-modal></app-modal>
  <div class="_pt-5">
      <ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-balham"
      [enableSorting]="true"
      [enableFilter]="true"
      [rowData]="rowData" [columnDefs]="columnDefs">  </ag-grid-angular>

  </div>
  
  <!-- <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Role</th>
          <th>Country</th>
          <th>Active</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Admin</td>
          <td>India</td>
          <td>yes</td>
          <td>Edit | Delete</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Author</td>
          <td>China</td>
          <td>yes</td>
          <td>Edit | Delete</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>User</td>
          <td>US</td>
          <td>yes</td>
          <td>Edit | Delete</td>
        </tr>
      </tbody>
    </table>
  </div> -->
</div>
