<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>ELearning Admin Portal</h1>
            <form role="form" #loginForm="ngForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="loginModel.username" name="username" class="form-control input-underline input-lg" id="" placeholder="{{ 'Username    ' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" name="password"  [(ngModel)]="loginModel.password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}">
                    </div>
                    <div *ngIf="loginError" class="error-msg">Invalid Username/Password</div>
                </div>
                <a class="btn rounded-btn" (click)="onLoggedin()">{{ 'Log in' | translate }}</a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>
            </form>
        </div>
    </div>
</div>
