/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
.ag-row-hover {
    /* putting in !important so it overrides the theme's styling as it hovers the row also */
    background-color: #dfdfff !important;
}

.ag-column-hover {
    background-color: #dfffdf;
}

@media print {
    .breadcrumb {
        display: none !important;
    }
}

._p5{
    padding: 5px;
}

._p-10{
    padding: 10px;
}

._p20{
    padding: 20px;
}

._m5{
    margin: 5px;
}

._m10{
    margin: 10px;
}

._m20{
    margin: 20px;
}

._pt-5{
    padding-top: 5px;
} 
._pb-5{
    padding-block-end: 5px;
}
._pl-5{
    padding-left: 5px;
}
._pr-5{
    padding-right: 5px;
}

label{
    padding:5px;
}

@media (min-width: 576px){
    .modal-dialog{
        max-width: 50% !important;
    }
    
}

._inline{
    display: inline;
}

._width-80{
    width: 84%;
}

.fright{
//    margin: 0 auto;
float:left;
}

.fleft{
    //    margin: 0 auto;
    float:left;
    }
