
      
        <button class="btn btn-primary" (click)="open(content)">Add User</button>
        <ng-template #content let-c="close" style="width:700px" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Add User</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12">
                <form role="form">
                  <fieldset class="form-group">
                    <div class="row">
                      <div class="col-lg-3"><label class="fright">Name</label></div>
                      <div class="col-lg-9">
                        <input class="form-control _inline" />
                        <!-- <p class="help-block">Example block-level help text here.</p> -->
                      </div>
                    </div>
                  </fieldset>
                  <fieldset class="form-group">
                    <div class="row">
                      <div class="col-lg-3"><label>Gender</label></div>
                      <div class="col-lg-9">
                        <label class="_p">
                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="" /> Male
                        </label>
                        <label class="_p"> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" /> Female </label>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset class="form-group">
                    <div class="row">
                      <div class="col-lg-3"><label>Email</label></div>
                      <div class="col-lg-9">
                        <input class="form-control _inline" />
                        <!-- <p class="help-block">Example block-level help text here.</p> -->
                      </div>
                    </div>
                  </fieldset>
                  <fieldset class="form-group">
                    <div class="row">
                      <div class="col-lg-3"><label>Contact</label></div>
                      <div class="col-lg-9">
                        <input class="form-control" />
                        <!-- <p class="help-block">Example block-level help text here.</p> -->
                      </div>
                    </div>
                  </fieldset>
                  <fieldset class="form-group">
                    <div class="row">
                      <div class="col-lg-3"><label>Password</label></div>
                      <div class="col-lg-9">
                        <input class="form-control" />
                        <!-- <p class="help-block">Example block-level help text here.</p> -->
                      </div>
                    </div>
                  </fieldset>

                  <fieldset class="form-group">
                    <div class="row">
                      <div class="col-lg-3"><label>Roles</label></div>
                      <div class="col-lg-9">
                        <select class="form-control ">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                        <!-- <p class="help-block">Example block-level help text here.</p> -->
                      </div>
                    </div>
                  </fieldset>
                  <fieldset class="form-group">
                    <div class="row">
                      <div class="col-lg-3"><label>Country</label></div>
                      <div class="col-lg-9">
                        <select class="form-control ">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                        <!-- <p class="help-block">Example block-level help text here.</p> -->
                      </div>
                    </div>
                  </fieldset>

                  <fieldset class="form-group">
                    <div class="row">
                      <div class="col-lg-3"><label>Sate</label></div>
                      <div class="col-lg-9">
                        <select class="form-control ">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                        <!-- <p class="help-block">Example block-level help text here.</p> -->
                      </div>
                    </div>
                  </fieldset>
                  <fieldset class="form-group">
                    <div class="row">
                      <div class="col-lg-3"><label>City</label></div>
                      <div class="col-lg-9">
                        <select class="form-control ">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                        <!-- <p class="help-block">Example block-level help text here.</p> -->
                      </div>
                    </div>
                  </fieldset>

                  <fieldset class="form-group">
                    <div class="row">
                      <div class="col-lg-3"><label>Active State</label></div>
                      <div class="col-lg-9">
                        <div class="radio">
                          <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="" /> Yes </label>
                          <label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" /> No </label>
                        </div>
                        <!-- <p class="help-block">Example block-level help text here.</p> -->
                      </div>
                    </div>
                  </fieldset>

                  <button type="submit" class="btn btn-secondary _m5">Submit Button</button>
                  <button type="reset" class="btn btn-secondary _m5">Reset Button</button>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer"><button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button></div>
        </ng-template>
     

